.section__about {
  background-color: #fff5f6;
   @media screen and(max-width:767px) {
    padding-top: 40px;}

   @media screen and(min-width:768px) and(max-width:1279px) {
    padding-top: 20px;
    padding-bottom: 40px;
    
  }
  @media screen and(min-width:1280px) {
    padding-top: 60px;}
}

.container__about {
  @media screen and(max-width:767px) {
    background-image: url(../images/about/sectionbg_sm.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -5%;
    background-position-y: 85%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/about/sectionbg_sm@2x.png);
    }
  }
  @media screen and(min-width:768px) and(max-width:1279px) {
    padding-left: 32px;
    padding-right: 32px;}

  @media screen and(min-width:1280px) {
    padding-left: 14px;
    padding-right: 0;

    background-image: url(../images/about/sectionbg_lg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: -5%;
    background-position-y: 85%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/about/sectionbg_lg@2x.png);
    }
  }
}

.about__title {
  display: block;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 16px;

  color: var(--secondary-text-color-pink);

  @media screen and(max-width:767px) {
    font-size: 18px;
  }

  @media screen and(min-width:768px) and(max-width:1279px) {
    font-size: 26px;
  }

  @media screen and(min-width:1280px) {
    font-size: 30px;
  }
}

.about__name {
  display: block;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-color-pink);
  
  @media screen and(max-width:767px) {
    display: block;
    max-width: 200px;
    font-size: 34px;

    margin-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and(min-width:768px) and(max-width:1279px) {
    font-size: 55px;
    margin-bottom: 40px;
  }

  @media screen and(min-width:1280px) {
    font-size: 58px;
    margin-bottom: 79px;
  }
}
.about__blocks {
  @media screen and(max-width:767px) {
    padding-top: 32px;
    
  }

  @media screen and(min-width:768px) and(max-width:1279px) {
    display: flex;
    align-items: flex-start;
  }

  @media screen and(min-width:1280px) {
    display: flex;
    justify-content: space-between;
    padding-right: 161px;
  }
}

.about__picture {
  @media screen and(max-width:767px) {
    display: block;
    align-items: center;
    margin-bottom: 40px;
  }
  @media screen and(min-width:768px) and(max-width:1279px) {
    display: block;
    width: 336px;
    height: 335px;
    margin-right: 32px;
  }
  @media screen and(min-width:1280px) {
    width: 501px;
    height: 501px;
    margin-bottom: 39px;
  }
}
.about__block {
  @media screen and(min-width:768px) and(max-width:1279px) {
    width: 336px;
  }

  @media screen and(min-width:1280px) {
    width: 463px;
    padding-top: 72px;
  }
}

.about__info {
  display: inline-block;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    padding-right: 60px;
  }
  @media screen and(min-width:768px) and(max-width:1279px) {
    margin-bottom: 40px;
  }

  @media screen and(min-width:1280px) {
    margin-bottom: 40px;
    
  }
}

.about__txt {
  display: block;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;

  line-height: 1.62;
  color: var(--main-color-black);

  margin-bottom: 26px;
  text-align: left;

  @media screen and(min-width:768px) and(max-width:1279px) {
    font-size: 14px;
  }

  @media screen and(min-width:1280px) {
    font-size: 16px;
    margin-bottom: 32px;
    letter-spacing: 0.04em;
  }
}

.about__desc {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: #907e82;
  text-align: left;
  letter-spacing: 0.04em;

  @media screen and(min-width:768px) and(max-width:1279px) {
    font-size: 14px;
    letter-spacing: 0.04em;
  }

  @media screen and(min-width:1280px) {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.about__desc--one {
  display: block;
  margin-bottom: 15px;

  @media screen and(min-width:768px) and (max-width: 127px) {
    margin-bottom: 27px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 27px;
  }
}
.about__btn {
  width: 176px;
  height: 44px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  color: rgba(212, 20, 67, 1);
  border: transparent;
  border-radius: 22px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  padding-left: 37px;
  padding-right: 37px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__btn:hover,
.about__btn:focus {
  background-color: #ecebeb;
}

.about__btn::after {
  content: '';
  width: 8px;
  height: 10px;
  background-image: url(../images/about/btnarrow3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 15px;
}

.about__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(238, 156, 167);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(238,156,167,0.23) 100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.about__backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.about__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // overflow: scroll;

  padding: 30px 50px;

  background-color: #fff5f6;
  border-radius: 35px;

  @media screen and(max-width:1279px) {
    max-width: 600px;
    max-height: 600px;

    background-image: url(../images/about/sectionbg_sm.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 95%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/about/sectionbg_sm@2x.png);
    }
  }

  @media screen and(min-width:1280px) {
    max-width: 800px;
    max-height: 800px;
    background-image: url(../images/about/sectionbg_lg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 95%;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/about/sectionbg_lg@2x.png);
    }
  }
}


.about__form__field {
  margin: 30px 30px 40px 30px;
}
.about__form__input {

  border: 2px dotted pink;
  width: 300px;
  height: 44px;
  border-radius: 4px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about__form__input:focus {
  border: 1px solid rgba(212, 20, 67, 1);
}
.about__form__field:focus {
  color: rgba(212, 20, 67, 1);
}
.about__form__btn {
  display: block;
  display: flex;
  max-width: 176px;
  height: 44px;

  margin-left: auto;
  margin-right: auto;
  margin-top: auto;

  background-color: #ffffff;
  color: rgba(212, 20, 67, 1);
  border: 1px solid pink;
  border-radius: 22px;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  align-items: center;
  text-align: center;
  padding-left: 40px;
  padding-right: 45px;
}

.about__form__btn::before {
  content: '';
  width: 8px;
  height: 10px;
  background-image: url(../images/about/btnarrow3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  margin-right: 15px;
}
