@media screen and (min-width: 320px)
{
    .advantages{
        background-color: #FFF5F6;
}
}

.advantages__list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__item{
    margin: 40px 70px 32px 20px;
}

.advantages__img{
    display: block;
    width: auto; 
    height: auto;
    padding-bottom: 16px;
}

.advantages__number{
    padding-bottom: 20px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 1.1;
    text-transform: uppercase;
    color: var(--text-color-pink);
}

.advantages__text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: var(--main-color-black);
}