.contacts {
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to bottom, #ffffff 22%, #fff5f6 22%);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to bottom, #ffffff 22.5%, #fff5f6 22.5%);
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to bottom, #ffffff 16%, #fff5f6 16%);
    padding-bottom: 120px;
  }
}

.contacts__cards-list {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.contacts__card {
  padding: 40px 32px 40px 32px;
  border-radius: 24px;
  background-color: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.102);

  &:focus,
  &:hover {
    box-shadow: 0px 8px 30px rgba(199, 19, 62, 0.25);
  }

  @media screen and (max-width: 767px) {
    max-width: 440px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 32px) / 3);
    &:not(:last-child) {
      margin-right: 32px;
    }
  }
}
.contacts__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
}
.contacts__name {
  display: inline-block;
  padding: 2px 24px;
  margin-bottom: 20px;
  border-radius: 6px;
  line-height: 1.75;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f0d1a5;

  .contacts__card:nth-child(even) & {
    background-color: #c2e297;
  }
}
.contacts__about {
  position: relative;
  padding-bottom: 24px;
  ::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);

    content: '';
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
  }
}
.text--locality {
  margin-bottom: 8px;
  color: #000000;
}
.text--info {
  max-width: 179px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #907e82;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 300px;
  }
}

.contacts__time-list {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  ::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);

    content: '';
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
  }
}

.contacts__time-item:not(:last-child) {
  margin-bottom: 8px;
}
.contacts__time-item--day {
  color: #000000;
}
.contacts__time-item--hour {
  color: #ffa5ba;
}
.contacts__communication-item:not(:last-child) {
  margin-bottom: 8px;
}
.contacts__communication-list {
  padding-top: 24px;
}
.communication-link {
  color: #907e82;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: #d41443;
  }
}
.contacts__filter {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}
.btn-filter {
  min-width: 161px;
  padding: 11px 17px 11px 21px;
  border: 0;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  background-color: #d41342;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-right: 15px;
  }

  &:focus,
  &:hover {
    background-color: #c7133e;
  }
}
.btn-filter--franchise {
  color: #d41443;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #ecebeb;
  }
}
.btn-filter--our .btn-filter__icon {
  stroke: #ffffff;
}

.btn-filter--franchise .btn-filter__icon {
  stroke: #d41443;
}

// modal================================================
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  transform: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: scale(0.9);
  }
}
.contacts_modal {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 90vw;
  height: 600px;
  padding: 40px 20px;
  background-color: #fff5f6;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 480px) {
    top: 90px;
    width: 400px;
  }

  @media screen and (min-width: 768px) {
    top: 212px;
    padding: 40px;
    width: 600px;
  }
  @media screen and (min-width: 1200px) {
    top: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
  }
}
.modal_button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 4px;

  background-color: #ffffff;
  fill: #d41342;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    fill: #ffffff;
    background-color: #d41342;
  }
}
