.container-footer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 320px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.footer {
    background-color: #fff5f6;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 8px;
    }
}

.footer-name {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffb8ca;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.1px;
    }
}

.footer-about {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 1.1;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #d41443;

    margin-top: 14px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.1px;
    }
}

.footer-div__two {
    margin-top: 40px;

    @media screen and (min-width: 768px) {
        margin-top: 0;
    }
}

.footer-list {
    display: flex;
    justify-content: flex-end;
}

.list-icon {
    width: 32px;
    height: 32px;
    padding: 0;
    margin-right: 28px;

    &:nth-child(3) {
        margin-right: 0;
    }

    @media screen and (min-width: 768px) {
        margin-right: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 28px;
    }
}

.icon {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    background-color: #ffb8ca;
    fill: #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #d41443;
    }
}

.footer-div__three {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: right;
}

.footer-contact {
    color: #000000;
    text-align: right;
}

.footer-contact__tell {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;

    letter-spacing: 0.02em;
    color: #d41443;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.8;
    }
}

.footer-div__four {
    border-top: 1px solid #e1e1e1;
}

.footer-content {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #907e82;
    margin: 16px 20px 0px 20px;
    white-space: pre-line;

    @media screen and (min-width: 768px) {
        white-space: nowrap;
        font-size: 14px;
        line-height: 1.8;
    }
}