.gallery {
    max-width: 100%;
    height: auto;
    background-color: #fff;
    background-image: linear-gradient(to bottom,
            #FFF5F6 0%,
            #FFF5F6 40%,
            #fff 40%,
            #fff 100%);

}

.container-gallery {
    margin-left: auto;
    margin-right: auto;
        @media screen and (min-width: 480px) {
            width: 480px;
        }
    
        @media screen and (min-width: 768px) {
            width: 768px;
            padding-left: 18px;
            padding-right: 18px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 1200px;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

.gallery_img-cont {
    margin-left: auto;
    margin-right: auto;
}

