.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-hero {
  overflow-x: hidden;
  background-color: var(--background-color-pink);
  padding-top: 136px;
  padding-bottom: 158px;
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.container-hero {
  position: relative;
}
.section-hero__ice-cream-ellipse {
  position: relative;
  @media screen and (min-width: 320px) {
    top: -111px;
    left: 5%;
    background-color: transparent;
  }
  @media screen and (min-width: 768px) {
    top: -57px;
    left: 32%;
  }
  @media screen and (min-width: 1280px) {
    top: -95px;
    left: 34%;
  }
}
.section-hero__ellipse {
  position: absolute;
  border-radius: 50%;
  background-color: #ffa5ba;
  border: none;
  min-width: 346px;
  min-height: 344px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    overflow: visible;
    min-width: 335px;
    min-height: 333px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 534px;
    min-height: 534px;
  }
}
.section-hero__ice-cream {
  position: absolute;
  top: 9px;
  left: 85px;
  @media screen and (min-width: 768px) {
    top: 37px;
    left: 74px;
  }
  @media screen and (min-width: 1280px) {
    top: 54px;
    left: 119px;
  }
}
.section-hero__product-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    width: 43px;
    top: -4px;
    right: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 92px;
    top: 9px;
    right: 16px;
  }
}
.section-hero__product-item {
  color: #ffffff;
  text-align: right;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  background-image: url('../images/section-hero/Ellipse.png');
  @media screen and (min-width: 768px) {
    background-size: 16px;
    font-size: 8px;
    line-height: 1.25;
  }

  @media screen and (min-width: 1280px) {
    background-size: 30px;
    font-size: 14px;
    line-height: 1.29;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero__product-item {
    background-image: url('../images/section-hero/Ellipse@2x.png');
  }
}
.section-hero__amount {
  display: flex;
  font-family: 'Titan One';
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(212, 20, 67, 1);

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}
.section-hero__girl-with-ice-cream {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    right: 32px;
    bottom: -16px;
  }
  @media screen and (min-width: 1280px) {
    right: 0;
    bottom: -60px;
  }
}
.section-hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  /*z-index: 4;*/
  min-width: 280px;
}
.section-hero__name-company {
  margin-bottom: 20px;
  font-family: 'Titan One';
  font-weight: 400;
  letter-spacing: 0.04em;
  width: 218px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 0;
  font-size: 26px;
  line-height: 1.15;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
    width: 162px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 24px;
    font-size: 34px;
    line-height: 1.41;
    width: 277px;
  }
}
.section-hero__head-name {
  font-family: 'Titan One';
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-color-pink);
  font-size: 48px;
  line-height: 0.965;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.905;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}
.section-hero__btns {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  z-index: 0;
}
.section-hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 8px;
  }
}
.section-hero__btn-choose,
.section-hero__btn-about {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 20px;
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29px;
  }
}

.section-hero__btn-choose {
  width: 61px;
  height: 24px;
  background-color: #d41443;
  color: #ffffff;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  @media screen and (min-width: 1280px) {
    width: 107px;
    height: 40px;
  }
}
.section-hero__btn-about {
  width: 82px;
  height: 24px;
  background-color: #ffffff;
  color: var(--text-color-pink);
  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: var(--text-color-pink);
  }
  @media screen and (min-width: 1280px) {
    width: 138px;
    height: 40px;
  }
}
.section-hero__description {
  margin: 20px 0 0;
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}
.section-hero__dictum {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 114px;
  @media screen and (min-width: 1280px) {
    flex-wrap: wrap;
    align-content: space-around;
    padding-top: 20%;
    width: 200px;
  }
}
.section-hero__text {
  position: relative;
  // z-index: 1;
  @media screen and (min-width: 768px) {
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.4;
  }
}
.section-hero__btn-direction {
  background-color: inherit;
  padding: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 1000ms;
  &:hover,
  &:focus,
  &.section-hero__arrow-right:hover,
  &.section-hero__arrow-right:focus {
    transform: translateY (-100%) rotate (-90deg);
  }
}
.section-hero__text--cover {
  display: none;
}

.section-hero__btn-direction.section-hero__arrow-right:hover
  .section-hero__text--cover,
.section-hero__btn-direction.section-hero__arrow-right:focus
  .section-hero__text--cover {
  display: block;
}
