.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  position: relative;
}
/*.header {
  @media screen and (max-width: 767px) {
      min-width: 320px;
      height: 58px;
    }
  
    @media screen and (min-width: 768px) {
      min-width: 768px;
      height: 82px;
    }
  
    @media screen and (min-width: 1200px) {
      max-width: 1280px;
      height: 87px;
    }
}*/
.section-hero {
  overflow: hidden;
  background-color: var(--background-color-pink);
  // min-width: 320px;
  @media screen and (min-width: 768px) {
    // min-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    // max-width: 1280px;
  }
}
.container-hero {
  position: relative;
}
.section-hero__ellipse {
  position: absolute;
  border-radius: 50%;
  background-color: #ffa5ba;
  border: none;
  top: 85px;
  left: 12%;
  min-width: 346px;
  min-height: 344px;
  @media screen and (min-width: 768px) {
    top: 42px;
    left: 32%;
    min-width: 335px;
    min-height: 333px;
  }
  @media screen and (min-width: 1200px) {
    top: 7%;
    left: 36%;
    min-width: 534px;
    min-height: 534px;
  }
}
.section-hero__ice-cream {
  position: absolute;
  top: 82px;
  left: 40%;
  @media screen and (min-width: 768px) {
    left: 42%;
  }
  @media screen and (min-width: 1200px) {
    left: 43%;
  }
}
.section-hero__product-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    width: 43px;
    top: 92px;
    left: 671px;
  }

  @media screen and (min-width: 1200px) {
    width: 92px;
    top: 153px;
    left: 1086px;
  }
}
.section-hero__product-item {
  color: #ffffff;
  text-align: right;
  white-space: pre-wrap;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  background-repeat: no-repeat;
  background-position: top 0 right 0;
  background-image: url('../images/section-hero/Ellipse.png');
  @media screen and (min-width: 768px) {
    background-size: 16px;
    font-size: 8px;
    line-height: 1.25;
  }

  @media screen and (min-width: 1200px) {
    background-size: 30px;
    font-size: 14px;
    line-height: 1.29;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero__product-item {
    background-image: url('../images/section-hero/Ellipse@2x.png');
  }
}
.section-hero__amount {
  display: flex;
  font-family: 'Titan One';
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(212, 20, 67, 1);

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.14;
  }

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: 1.15;
  }
}
.section-hero__girl-with-ice-cream {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    left: 578px;
    top: 266px;
  }

  @media screen and (min-width: 1200px) {
    left: 896px;
  }
}

.section-hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  padding-top: 136px;
  padding-bottom: 158px;
  /*z-index: 4;*/
  min-width: 280px;
  @media screen and (min-width: 768px) {
    min-width: 768px;
    padding-top: 20px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 1280px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.section-hero__name-company {
  margin-bottom: 20px;
  font-family: 'Titan One';
  font-weight: 400;
  letter-spacing: 0.04em;
  white-space: pre-wrap;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 0;
  font-size: 26px;
  line-height: 1.15;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;
    font-size: 34px;
    line-height: 1.41;
  }
}
.section-hero__head-name {
  font-family: 'Titan One';
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-color-pink);
  font-size: 48px;
  line-height: 0.965;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.905;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
  }
}
.section-hero__buttons {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  z-index: 0;
}
.section-hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 8px;
  }
}
.section-hero__button-choose,
.section-hero__button-about {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 20px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.29px;
  }
}

.section-hero__button-choose {
  width: 61px;
  height: 24px;
  background-color: #d41443;
  color: #ffffff;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    width: 107px;
    height: 40px;
  }
}
.section-hero__button-about {
  width: 82px;
  height: 24px;
  background-color: #ffffff;
  color: var(--text-color-pink);
  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: var(--text-color-pink);
  }
  @media screen and (min-width: 1200px) {
    width: 138px;
    height: 40px;
  }
}
.section-hero__description {
  margin: 20px 0 0;
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-flex;
  }
}
.section-hero__dictum {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 114px;
  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
    align-content: space-around;
    padding-top: 20%;
    width: 200px;
  }
}
.section-hero__text {
  z-index: 1;
  @media screen and (min-width: 768px) {
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.4;
  }
}
.section-hero__continuation {
  display: none;
}
.section-hero__button-direction {
  background-color: inherit;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
