// резет
@import './reset/reset';
// Cтандартные кнопки и контейнер
@import './default-style/default-style.scss';
@import './default-style/default-button';
@import './default-style/default-container.scss';
// рутт
@import './default-style/roor';

// нормалайз
@import './common';
// дерево
@import './header';
@import './section-hero';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './customer-reviews';
@import './contacts';
@import './footer';
@import './modal';
