html {
  box-sizing: border-box;
}
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

ul,
ol,
li,
a,
span,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.no-scroll {
  overflow: hidden;
}
