<section class="section__about" id="about">
  <div class="container container__about">
    <span class="about__title">tradition and love</span>
    <h2 class="about__name">how it’s made?</h2>
    <div class="about__blocks">
      <div class="about__picture">
        <picture>
          <source
            srcset="
              ./images/about/cow_lg.png    1x,
              ./images/about/cow_lg@2x.png 2x
            "
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/about/cow_md.png    1x,
              ./images/about/cow_md@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="./images/about/cow_sm@2x.png 2x"
            media="(max-width:767px)"
            type="image/png"
          />
          <img src="./images/about/cow_sm.png" alt="com_picture" />
        </picture>
      </div>
      <div class="about__block">
        <div class="about__info">
          <p class="about__txt">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
          <p class="about__desc about__desc--one">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, <br />tincidunt.
          </p>

          <p class="about__desc about__desc--second">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
        </div>
        <button class="about__btn" type="button">Read more</button>
      </div>
    </div>
  </div>
</section>
