<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__box">
          <img
            class="advantages__img"
            src="./images/advantages/icon1.png"
            alt=""
            width="44"
            height="50"
          />
          <h3 class="advantages__number">721</h3>
          <p lang="en" class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__box">
          <img
            class="advantages__img"
            src="./images/advantages/icon2.png"
            alt=""
            width="44"
            height="50"
          />
          <h3 class="advantages__number">16kg</h3>
          <p lang="en" class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__box">
          <img
            class="advantages__img"
            src="./images/advantages/icon3.png"
            alt=""
            width="44"
            height="50"
          />
          <h3 class="advantages__number">84</h3>
          <p lang="en" class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
