<section class="contacts">
  <div class="contacts__container container">
    <h2 class="visually-hidden">Locations</h2>

    <ul class="contacts__cards-list list">
      <li class="contacts__card item">
        <strong class="contacts__text contacts__name">Cafe</strong>
        <div class="contacts__about">
          <p class="contacts__text text--locality">Chicago</p>
          <p class="contacts__text text--info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__time-list time list">
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Monday - Friday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Saturday - Sunday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              08:00 AM - 04:00 PM
            </p>
          </li>
        </ul>
        <ul class="contacts__communication-list list">
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="tel:+610383766284"
              title="Call up"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="mailto:noreply@envato.com"
              title="Write a letter"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__card item">
        <strong class="contacts__text contacts__name">FOODTRUCK</strong>
        <div class="contacts__about">
          <p class="contacts__text text--locality">Los Angeles</p>
          <p class="contacts__text text--info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__time-list time list">
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Monday - Friday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Saturday - Sunday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              08:00 AM - 04:00 PM
            </p>
          </li>
        </ul>
        <ul class="contacts__communication-list list">
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="tel:+610383766284"
              title="Call up"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="mailto:noreply@envato.com"
              title="Write a letter"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__card item">
        <strong class="contacts__text contacts__name">Cafe</strong>
        <div class="contacts__about">
          <p class="contacts__text text--locality">New York</p>
          <p class="contacts__text text--info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__time-list time list">
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Monday - Friday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Saturday - Sunday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              08:00 AM - 04:00 PM
            </p>
          </li>
        </ul>
        <ul class="contacts__communication-list list">
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="tel:+610383766284"
              title="Call up"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="mailto:noreply@envato.com"
              title="Write a letter"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__filter">
      <button class="btn-filter btn-filter--our" type="button" data-modal-open>
        Our Locations
        <svg class="btn-filter__icon" width="5" height="8">
          <use
            href="./images/contacts/icons-contacts.svg#icon-contacts-vector-icon"
          ></use>
        </svg>
      </button>
      <button class="btn-filter btn-filter--franchise" type="button">
        Franchise
        <svg class="btn-filter__icon" width="5" height="8">
          <use
            href="./images/contacts/icons-contacts.svg#icon-contacts-vector-icon"
          ></use>
        </svg>
      </button>
    </div>
    <div class="contacts_backdrop backdrop is-hidden" data-modal>
      <div class="contacts_modal modal">
        <button class="modal_button-close" data-modal-close>
          <svg class="modal__icon-close" width="16" height="16">
            <use href="./images/contacts/icons-contacts.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
