<section class="contacts" id="contacts">
  <div class="contacts__container container">
    <h2 class="visually-hidden">Locations</h2>

    <ul class="contacts__cards-list list">
      <li class="contacts__card item">
        <strong class="contacts__text name">Cafe</strong>
        <div class="contacts__about">
          <p class="contacts__text text--locality">Chicago</p>
          <p class="contacts__text text--info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__time-list time list">
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Monday - Friday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Saturday - Sunday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              08:00 AM - 04:00 PM
            </p>
          </li>
        </ul>
        <ul class="contacts__communication-list list">
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="tel:+610383766284"
              title="Call up"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="mailto:noreply@envato.com"
              title="Write a letter"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__card item">
        <strong class="contacts__text name">FOODTRUCK</strong>
        <div class="contacts__about">
          <p class="contacts__text text--locality">Los Angeles</p>
          <p class="contacts__text text--info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__time-list time list">
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Monday - Friday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Saturday - Sunday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              08:00 AM - 04:00 PM
            </p>
          </li>
        </ul>
        <ul class="contacts__communication-list list">
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="tel:+610383766284"
              title="Call up"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="mailto:noreply@envato.com"
              title="Write a letter"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__card item">
        <strong class="contacts__text name">Cafe</strong>
        <div class="contacts__about">
          <p class="contacts__text text--locality">New York</p>
          <p class="contacts__text text--info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__time-list time list">
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Monday - Friday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__time-item">
            <p class="contacts__text contacts__time-item--day">
              Saturday - Sunday
            </p>
            <p class="contacts__text contacts__time-item--hour">
              08:00 AM - 04:00 PM
            </p>
          </li>
        </ul>
        <ul class="contacts__communication-list list">
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="tel:+610383766284"
              title="Call up"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__communication-item">
            <a
              class="contacts__text communication-link link"
              href="mailto:noreply@envato.com"
              title="Write a letter"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__filter-list list">
      <li class="contacts__filter-item">
        <button class="btn-filter button-filter-first" type="button">
          Our Locations
          <svg class="btn-filter__icon" width="5" height="8">
            <use
              href="./images/contacts/icons-contacts.svg#icon-contacts-vector-icon"
            ></use>
          </svg>
        </button>
      </li>
      <li class="contacts__filter-item">
        <button class="btn-filter btn-filter--second" type="button">
          Franchise
          <svg class="btn-filter__icon" width="5" height="8">
            <use
              href="./images/contacts/icons-contacts.svg#icon-contacts-vector-icon"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="contacts__filter"></div>

    <!-- modal first -->
    <div class="backdrop__first-modal backdrop is-hidden">
      <div class="contacts__modal modal-first">
        <button class="modal-first_button-close button-close">
          <svg class="modal-first__icon-close" width="16" height="16">
            <use href="./images/contacts/icons-contacts.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="modal__local-list list">
          <li class="modal__local-item item">
            <div class="modal__item-thumb">
              <h3 class="contacts__text modal__title name">
                Monkey nice cream
              </h3>
              <p>
                <a
                  class="modal__link link"
                  href="https://goo.gl/maps/ekHnk9vTcAszDAKdA"
                  title="map"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Taras Shevchenko Boulevard, 26, Kyiv, 02000</a
                >
              </p>
            </div>
            <div class="modal__img-thumb">
              <picture>
                <source
                  srcset="
                    ./images/contacts/contacts-logo@1x.png 1x,
                    ./images/contacts/contacts-logo@2x.png 2x
                  "
                  media="(min-width: 320px)" />
                <img
                  class="image contacts_image-modal"
                  src="./images/contacts/contacts-logo@1x.png"
                  alt="Logo"
              /></picture>
            </div>
          </li>
          <li class="modal__local-item item">
            <div class="modal__item-thumb">
              <h3 class="contacts__text modal__title name">
                Umka - Homemade Ice Cream
              </h3>
              <p>
                <a
                  class="modal__link link"
                  href="https://goo.gl/maps/3Uzjcnchg4x19ecY8"
                  title="map"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Kostolna street, 6, Kiev, 01001</a
                >
              </p>
            </div>
            <div class="modal__img-thumb">
              <picture>
                <source
                  srcset="
                    ./images/contacts/contacts-logo@1x.png 1x,
                    ./images/contacts/contacts-logo@2x.png 2x
                  "
                  media="(min-width: 320px)" />
                <img
                  class="image contacts_image-modal"
                  src="./images/contacts/contacts-logo@1x.png"
                  alt="Logo"
              /></picture>
            </div>
          </li>
          <li class="modal__local-item item">
            <div class="modal__item-thumb">
              <h3 class="contacts__text modal__title name">Bubble waffle</h3>
              <p>
                <a
                  class="modal__link link"
                  href="https://goo.gl/maps/BqbnjpxiWxVWHhim8"
                  title="map"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Postal Square, 3, Kiev, 02000</a
                >
              </p>
            </div>
            <div class="modal__img-thumb">
              <picture>
                <source
                  srcset="
                    ./images/contacts/contacts-logo@1x.png 1x,
                    ./images/contacts/contacts-logo@2x.png 2x
                  "
                  media="(min-width: 320px)" />
                <img
                  class="image contacts_image-modal"
                  src="./images/contacts/contacts-logo@1x.png"
                  alt="Logo"
              /></picture>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- modal second-->
    <div class="backdrop__second-modal backdrop is-hidden">
      <div class="contacts__modal modal-second">
        <button class="modal-second_button-close button-close">
          <svg class="modal-second__icon-close" width="16" height="16">
            <use href="./images/contacts/icons-contacts.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="modal__local-list list">
          <li class="modal__local-item item">
            <div class="modal__item-thumb">
              <h3 class="contacts__text modal__title name">L'Kafa Cafe</h3>
              <p>
                <a
                  class="modal__link link"
                  href="https://goo.gl/maps/aw2mogUS9MmWFBzx9"
                  title="map"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Borshchahivska street, 154, Kyiv, 03056</a
                >
              </p>
            </div>
            <div class="modal__img-thumb">
              <svg class="icon-modal-second" width="50" height="50">
                <use
                  href="./images/contacts/icons-contacts.svg#icon-contacts-icon-modal-second"
                ></use>
              </svg>
            </div>
          </li>
          <li class="modal__local-item item">
            <div class="modal__item-thumb">
              <h3 class="contacts__text modal__title name">Very Well Cafe</h3>
              <p>
                <a
                  class="modal__link link"
                  href="https://goo.gl/maps/oRoqYn3NYUCMUmGK9"
                  title="map"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Levanevskogo street, 2A, Kiev, 02000</a
                >
              </p>
            </div>
            <div class="modal__img-thumb">
              <svg class="icon-modal-second" width="50" height="50">
                <use
                  href="./images/contacts/icons-contacts.svg#icon-contacts-icon-modal-second"
                ></use>
              </svg>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
