<section class="section section--reviews">
        <h2 class="title not-displayed">Our team</h2>
    <div class="container container--reviews">
        <div class="reviews-card">
            <div class="slider">
                <div class="slider__wrapper">
                    <div class="slider__items">
                        <!-- Sergey Belozub -->
                        <div class="slider__item">
                            <div class="slider__item_inner">
                                <div class="photo-box">
                                    <img class="photo-box__img" src="./images/customer-reviews/photo_7.jpg" alt="Photo of a team member">
                                </div>
                                <div class="text-reviews">
                                    <p class="paragraph text-reviews__paragraph">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit.
                                        Alias, ea aliquam, quae eum nisi laboriosam aperiam libero totam magni nam eaque
                                        beatae? Magnam,
                                        voluptate? Expedita, velit nesciunt? Excepturi, tempore provident. Nullam
                                        viverra consectetuer.
                                        Quisque cursus et, porttitor risus.
                                        Aliquam sem. In hendrerit
                                        nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</p>
                                </div>
                                <div class="abuot-us-box">
                                    <p class="paragraph abuot-us-box__paragraph">Sergey Belozub, Brovary</p>
                                    <p class="paragraph abuot-us-box__paragraph">Team Lead</p>
                                    <ul class="list list-soc">
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Instagrem"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-insta"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Twiter" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-twit"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Facebook"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-face"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Linkedin"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-linkedin"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Nataliya Pogrebnyak -->
                        <div class="slider__item">
                            <div class="slider__item_inner">
                                <div class="photo-box">
                                    <img class="photo-box__img" src="./images/customer-reviews/photo_9.jpg" alt="Photo of a team member">
                                </div>
                                <div class="text-reviews">
                                    <p class="paragraph text-reviews__paragraph">Mastering IT and changing profession has been my dream for a
                                        long time. The IT industry has always attracted and
                                        fascinated me.
                                        Now, in the process of learning, I am immersed in such a long-awaited world for me. Thanks to teachers,
                                        mentors,
                                        curators, it is very interesting to study at the courses and, despite the increase in the complexity of
                                        the material,
                                        the desire does not disappear. During the course I get not only new knowledge and perspective in life,
                                        but also many new
                                        friends and like-minded people. I want to wish prosperity and inspiration to the employees of the GO IT
                                        company, and
                                        success to my fellow students in mastering new material, motivation and strength to reach the finish
                                        line.</p>
                                </div>
                                <div class="abuot-us-box">
                                    <p class="paragraph abuot-us-box__paragraph">Nataliya Pogrebnyak, Kyiv</p>
                                    <p class="paragraph abuot-us-box__paragraph">Scrum-master</p>
                                    <ul class="list list-soc">
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Instagrem"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-insta"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Twiter" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-twit"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Facebook"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-face"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Linkedin"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-linkedin"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Ivanna Khomik -->
                        <div class="slider__item">
                            <div class="slider__item_inner">
                                <div class="photo-box">
                                    <img class="photo-box__img" src="./images/customer-reviews/photo_10.jpg" alt="Photo of a team member">
                                </div>
                                <div class="text-reviews">
                                    <p class="paragraph text-reviews__paragraph">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Alias, ea aliquam, quae eum nisi laboriosam aperiam libero totam magni nam eaque
                                        beatae? Magnam,
                                        voluptate? Expedita, velit nesciunt? Excepturi, tempore provident. Nullam
                                        viverra consectetuer.
                                        Quisque cursus et, porttitor risus.
                                        Aliquam sem. In hendrerit
                                        nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</p>
                                </div>
                                <div class="abuot-us-box">
                                    <p class="paragraph abuot-us-box__paragraph">Ivanna Khomik, Bucha</p>
                                    <p class="paragraph abuot-us-box__paragraph">Developer</p>
                                    <ul class="list list-soc">
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Instagrem"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-insta"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Twiter" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-twit"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Facebook"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-face"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Linkedin"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-linkedin"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Artem Ptashenko -->
                        <div class="slider__item">
                            <div class="slider__item_inner">
                                <div class="photo-box">
                                    <img class="photo-box__img" src="./images/customer-reviews/photo_11.jpg" alt="Photo of a team member">
                                </div>
                                <div class="text-reviews">
                                    <p class="paragraph text-reviews__paragraph">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit.
                                        Alias, ea aliquam, quae eum nisi laboriosam aperiam libero totam magni nam eaque
                                        beatae? Magnam,
                                        voluptate? Expedita, velit nesciunt? Excepturi, tempore provident. Nullam
                                        viverra consectetuer.
                                        Quisque cursus et, porttitor risus.
                                        Aliquam sem. In hendrerit
                                        nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</p>
                                </div>
                                <div class="abuot-us-box">
                                    <p class="paragraph abuot-us-box__paragraph">Artem Ptashenko, Іrpen</p>
                                    <p class="paragraph abuot-us-box__paragraph">Developer</p>
                                    <ul class="list list-soc">
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Instagrem"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-insta"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Twiter" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-twit"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Facebook"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-face"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Linkedin"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-linkedin"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Veronika Savluk -->
                        <div class="slider__item">
                            <div class="slider__item_inner">
                                <div class="photo-box">
                                    <img class="photo-box__img" src="./images/customer-reviews/photo_1.jpg" alt="Photo of a team member">
                                </div>
                                <div class="text-reviews">
                                    <p class="paragraph text-reviews__paragraph">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Alias, ea aliquam, quae eum nisi laboriosam aperiam libero
                                        totam magni nam eaque beatae? Magnam, voluptate? Expedita, velit nesciunt?
                                        Excepturi, tempore provident. Nullam viverra consectetuer. Quisque cursus et,
                                        porttitor risus.
                                        Aliquam sem. In hendrerit
                                        nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</p>
                                </div>
                                <div class="abuot-us-box">
                                    <p class="paragraph abuot-us-box__paragraph">Veronika Savluk, Kyiv</p>
                                    <p class="paragraph abuot-us-box__paragraph">Developer</p>
                                    <ul class="list list-soc">
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Instagrem" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-insta"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Twiter" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-twit"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Facebook" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-face"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Linkedin" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-linkedin"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Elena Latynina -->
                        <div class="slider__item">
                            <div class="slider__item_inner">
                                <div class="photo-box">
                                    <img class="photo-box__img" src="./images/customer-reviews/photo_3.jpg" alt="Photo of a team member">
                                </div>
                                <div class="text-reviews">
                                    <p class="paragraph text-reviews__paragraph">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit.
                                        Alias, ea aliquam, quae eum nisi laboriosam aperiam libero totam magni nam eaque
                                        beatae? Magnam,
                                        voluptate? Expedita, velit nesciunt? Excepturi, tempore provident. Nullam
                                        viverra consectetuer.
                                        Quisque cursus et, porttitor risus.
                                        Aliquam sem. In hendrerit
                                        nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</p>
                                </div>
                                <div class="abuot-us-box">
                                    <p class="paragraph abuot-us-box__paragraph">Elena Latynina, Kyiv</p>
                                    <p class="paragraph abuot-us-box__paragraph">Developer</p>
                                    <ul class="list list-soc">
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Instagrem"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-insta"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Twiter" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-twit"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Facebook"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-face"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Linkedin"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-linkedin"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Rodion Shpak -->
                        <div class="slider__item">
                            <div class="slider__item_inner">
                                <div class="photo-box">
                                    <img class="photo-box__img" src="./images/customer-reviews/photo_5.jpg" alt="Photo of a team member">
                                </div>
                                <div class="text-reviews">
                                    <p class="paragraph text-reviews__paragraph">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit.
                                        Alias, ea aliquam, quae eum nisi laboriosam aperiam libero totam magni nam eaque
                                        beatae? Magnam,
                                        voluptate? Expedita, velit nesciunt? Excepturi, tempore provident. Nullam
                                        viverra consectetuer.
                                        Quisque cursus et, porttitor risus.
                                        Aliquam sem. In hendrerit
                                        nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</p>
                                </div>
                                <div class="abuot-us-box">
                                    <p class="paragraph abuot-us-box__paragraph">Rodion Shpak, Vyshneve</p>
                                    <p class="paragraph abuot-us-box__paragraph">Developer</p>
                                    <ul class="list list-soc">
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Instagrem"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-insta"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Twiter" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-twit"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Facebook"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-face"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Linkedin"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-linkedin"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Korobchenko Stas -->
                        <div class="slider__item">
                            <div class="slider__item_inner">
                                <div class="photo-box">
                                    <img class="photo-box__img" src="./images/customer-reviews/photo_8.jpg" alt="Photo of a team member">
                                </div>
                                <div class="text-reviews">
                                    <p class="paragraph text-reviews__paragraph">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit.
                                        Alias, ea aliquam, quae eum nisi laboriosam aperiam libero totam magni nam eaque
                                        beatae? Magnam,
                                        voluptate? Expedita, velit nesciunt? Excepturi, tempore provident. Nullam
                                        viverra consectetuer.
                                        Quisque cursus et, porttitor risus.
                                        Aliquam sem. In hendrerit
                                        nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</p>
                                </div>
                                <div class="abuot-us-box">
                                    <p class="paragraph abuot-us-box__paragraph">Korobchenko Stas, Sumy</p>
                                    <p class="paragraph abuot-us-box__paragraph">Developer</p>
                                    <ul class="list list-soc">
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Instagrem"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-insta"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Twiter" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-twit"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Facebook"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-face"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link" aria-label="Ссылка на Linkedin"
                                                href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-linkedin"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Nikita Rohovoi -->
                        <div class="slider__item">
                            <div class="slider__item_inner">
                                <div class="photo-box">
                                    <img class="photo-box__img" src="./images/customer-reviews/photo_2.jpg" alt="Photo of a team member">
                                </div>
                                <div class="text-reviews">
                                    <p class="paragraph text-reviews__paragraph">My path in IT is still at the very beginning, but the path of study is very interesting and exciting. And all thanks to
                                    the great GoIT team! I started to study, probably the most interesting profession for me, namely the developer. Creating
                                    your own small projects, even if not on your own, but with the help of mentors, is very interesting and magical. Now I
                                    know for sure, it will be much more interesting next ...</p>
                                </div>
                                <div class="abuot-us-box">
                                    <p class="paragraph abuot-us-box__paragraph">Nikita Rohovoi, Borispol</p>
                                    <p class="paragraph abuot-us-box__paragraph">Developer</p>
                                    <ul class="list list-soc">
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Instagrem" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-insta"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Twiter" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-twit"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Facebook" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-face"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Linkedin" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-linkedin"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Nataliya Fedorova -->
                        <div class="slider__item">
                            <div class="slider__item_inner">
                                <div class="photo-box">
                                    <img class="photo-box__img" src="./images/customer-reviews/photo_4.jpg" alt="Photo of a team member">
                                </div>
                                <div class="text-reviews">
                                    <p class="paragraph text-reviews__paragraph">I came to IT from trade, on the principle "why not try?". And I fell in love... For me, it is still magic, another
                                    world. I want to understand: How does it work? What's "under the hood"? How to do as, shown in the layout. This site is
                                    my first collective project. The experience is inspiring. I only go forward!</p>
                                </div>
                                <div class="abuot-us-box">
                                    <p class="paragraph abuot-us-box__paragraph">Nataliya Fedorova, Kyiv</p>
                                    <p class="paragraph abuot-us-box__paragraph">Developer</p>
                                    <ul class="list list-soc">
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Instagrem" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-insta"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Twiter" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-twit"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Facebook" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-face"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Linkedin" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-linkedin"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Svitlana Shaptala -->
                        <div class="slider__item">
                            <div class="slider__item_inner">
                                <div class="photo-box">
                                    <img class="photo-box__img" src="./images/customer-reviews/photo_6.jpg" alt="Photo of a team member">
                                </div>
                                <div class="text-reviews">
                                    <p class="paragraph text-reviews__paragraph">Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit.
                                        Alias, ea aliquam, quae eum nisi laboriosam aperiam libero totam magni nam eaque
                                        beatae? Magnam,
                                        voluptate? Expedita, velit nesciunt? Excepturi, tempore provident. Nullam
                                        viverra consectetuer.
                                        Quisque cursus et, porttitor risus.
                                        Aliquam sem. In hendrerit
                                        nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</p>
                                </div>
                                <div class="abuot-us-box">
                                    <p class="paragraph abuot-us-box__paragraph">Svitlana Shaptala, Kyiv</p>
                                    <p class="paragraph abuot-us-box__paragraph">Developer</p>
                                    <ul class="list list-soc">
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Instagrem" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-insta"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Twiter" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-twit"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Facebook" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-face"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-soc__item"><a class="list-soc__link"
                                                aria-label="Ссылка на Linkedin" href="socialnw-link">
                                                <svg class="list-soc__icon">
                                                    <use href="./images/customer-reviews/icon.svg#icon-linkedin"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <a class="slider__control slider__control_prev" href="#" role="button" data-slide="prev"></a>
                <a class="slider__control slider__control_next" href="#" role="button" data-slide="next"></a>
            </div>
        </div>

    </div>
</section>