<section class="section section--reviews">
  <h2 class="title not-displayed">Our team</h2>
  <div class="container container--reviews">
    <div class="reviews-card">
      <div class="slider">
        <div class="slider__wrapper">
          <div class="slider__items">
            <!-- Sergey Belozub -->
            <div class="slider__item">
              <div class="slider__item_inner">
                <div class="photo-box">
                  <img
                    class="photo-box__img"
                    src="./images/customer-reviews/photo_7.jpg"
                    alt="Photo of a team member"
                  />
                </div>
                <div class="text-reviews">
                  <article class="paragraph text-reviews__paragraph">
                    <h3 class="title not-displayed">Persone</h3>
                    I'm self-taught . I made websites myself for six months,
                    then I started learning js, and realized that I couldn t
                    apply it. My friend invited me to Go-it. I really like it
                    because I raised my skill.Here I found good people who will
                    always prompt and help.
                  </article>
                </div>
                <div class="abuot-us-box">
                  <p class="paragraph abuot-us-box__paragraph">
                    Sergey Belozub, Brovary
                  </p>
                  <p class="paragraph abuot-us-box__paragraph">Team Lead</p>
                  <ul class="list list-soc">
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Instagrem"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-insta"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Twiter"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-twit"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Facebook"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-face"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Linkedin"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-linkedin"
                          ></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Nataliya Pogrebnyak -->
            <div class="slider__item">
              <div class="slider__item_inner">
                <div class="photo-box">
                  <img
                    class="photo-box__img"
                    src="./images/customer-reviews/photo_9.jpg"
                    alt="Photo of a team member"
                  />
                </div>
                <div class="text-reviews">
                  <article class="paragraph text-reviews__paragraph">
                    <h3 class="title not-displayed">Persone</h3>
                    Mastering IT and changing profession has been my dream for a
                    long time. The IT industry has always attracted and
                    fascinated me. Now, in the process of learning, I am
                    immersed in such a long-awaited world for me. Thanks to
                    teachers, mentors, curators, it is very interesting to study
                    at the courses and, despite the increase in the complexity
                    of the material, the desire does not disappear. During the
                    course I get not only new knowledge and perspective in life,
                    but also many new friends and like-minded people. I want to
                    wish prosperity and inspiration to the employees of the GO
                    IT company, and success to my fellow students in mastering
                    new material, motivation and strength to reach the finish
                    line.
                  </article>
                </div>
                <div class="abuot-us-box">
                  <p class="paragraph abuot-us-box__paragraph">
                    Nataliya Pogrebnyak, Kyiv
                  </p>
                  <p class="paragraph abuot-us-box__paragraph">Scrum-master</p>
                  <ul class="list list-soc">
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Instagrem"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-insta"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Twiter"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-twit"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Facebook"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-face"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Linkedin"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-linkedin"
                          ></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Ivanna Khomik -->
            <div class="slider__item">
              <div class="slider__item_inner">
                <div class="photo-box">
                  <img
                    class="photo-box__img"
                    src="./images/customer-reviews/photo_10.jpg"
                    alt="Photo of a team member"
                  />
                </div>
                <div class="text-reviews">
                  <article class="paragraph text-reviews__paragraph">
                    <h3 class="title not-displayed">Persone</h3>
                    There are many reasons I have decided to start studying Full
                    Stack Developer course, at first because of excellent career
                    prospects, interest in coding, great opportunities for
                    professional success, flexible work and study options, high
                    salaries. It's also one of the best fields to find remote
                    work. Hopefully I will finish this course successfully and
                    will get the job I want.
                  </article>
                </div>
                <div class="abuot-us-box">
                  <p class="paragraph abuot-us-box__paragraph">
                    Ivanna Khomik, Bucha
                  </p>
                  <p class="paragraph abuot-us-box__paragraph">Developer</p>
                  <ul class="list list-soc">
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Instagrem"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-insta"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Twiter"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-twit"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Facebook"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-face"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Linkedin"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-linkedin"
                          ></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Artem Ptashenko -->
            <div class="slider__item">
              <div class="slider__item_inner">
                <div class="photo-box">
                  <img
                    class="photo-box__img"
                    src="./images/customer-reviews/photo_11.jpg"
                    alt="Photo of a team member"
                  />
                </div>
                <div class="text-reviews">
                  <article class="paragraph text-reviews__paragraph">
                    <h3 class="title not-displayed">Persone</h3>
                    There came a time in my life when I wanted to change my professional activity to something more interesting and at the
                    same time promising. My choice fell on the field of IT. After a little monitoring of this profession, I immediately
                    started looking for quality courses. After going through the marathon from Go IT school, I liked the structure of the
                    material, and I realized that I like this profession.
                    Currently, due to the sad circumstances in my country, I lost my main job and my family was left with almost no income,
                    but thanks to GO IT courses I was able to quickly change my profession and even find my first job in IT. Now I work as a
                    front-end developer. I am incredibly grateful to the GO IT school for the knowledge base they provide in their
                    materials. Thanks to this school, I not only changed my profession, but also found an opportunity to provide for my
                    family in difficult times!
                  </article>
                </div>
                <div class="abuot-us-box">
                  <p class="paragraph abuot-us-box__paragraph">
                    Artem Ptashenko, Іrpen
                  </p>
                  <p class="paragraph abuot-us-box__paragraph">Developer</p>
                  <ul class="list list-soc">
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Instagrem"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-insta"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Twiter"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-twit"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Facebook"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-face"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Linkedin"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-linkedin"
                          ></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Veronika Savluk -->
            <div class="slider__item">
              <div class="slider__item_inner">
                <div class="photo-box">
                  <img
                    class="photo-box__img"
                    src="./images/customer-reviews/photo_1.jpg"
                    alt="Photo of a team member"
                  />
                </div>
                <div class="text-reviews">
                  <article class="paragraph text-reviews__paragraph">
                    <h3 class="title not-displayed">Persone</h3>
                    Feeling a knack for programming, I decided to try a another
                    field of activity, field IT. I take small steps along this
                    thorny path to achieve my goal. And now you can see my first
                    achievements - this is the section «hero» of this site. This
                    project provided an opportunity to use the acquired
                    knowledge and apply it in practice. Thank the project for
                    great team and new experience!
                  </article>
                </div>
                <div class="abuot-us-box">
                  <p class="paragraph abuot-us-box__paragraph">
                    Veronika Savluk, Kyiv
                  </p>
                  <p class="paragraph abuot-us-box__paragraph">Developer</p>
                  <ul class="list list-soc">
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Instagrem"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-insta"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Twiter"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-twit"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Facebook"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-face"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Linkedin"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-linkedin"
                          ></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Elena Latynina -->
            <div class="slider__item">
              <div class="slider__item_inner">
                <div class="photo-box">
                  <img
                    class="photo-box__img"
                    src="./images/customer-reviews/photo_3.jpg"
                    alt="Photo of a team member"
                  />
                </div>
                <div class="text-reviews">
                  <article class="paragraph text-reviews__paragraph">
                    <h3 class="title not-displayed">Persone</h3>
                    It was my dream to make bold career shift and to give start
                    my new career in IT. I was sure IT spere is very difficult
                    for me, but participation in a marathon of GoIT returned me
                    confidence in myself. It was amazing! Studying on course of
                    Full-stack development is not easy for me. I am still
                    surprising at the wonders of layout that our coachers easily
                    demonstrate during our lessons. I admire their angelic
                    patience. Special thanks for the drive and support of our
                    client manager. Girls can find those words that help to
                    gather all their strength into a fist and continue learning
                    no matter what.
                  </article>
                </div>
                <div class="abuot-us-box">
                  <p class="paragraph abuot-us-box__paragraph">
                    Elena Latynina, Kyiv
                  </p>
                  <p class="paragraph abuot-us-box__paragraph">Developer</p>
                  <ul class="list list-soc">
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Instagrem"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-insta"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Twiter"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-twit"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Facebook"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-face"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Linkedin"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-linkedin"
                          ></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Rodion Shpak -->
            <div class="slider__item">
              <div class="slider__item_inner">
                <div class="photo-box">
                  <img
                    class="photo-box__img"
                    src="./images/customer-reviews/photo_5.jpg"
                    alt="Photo of a team member"
                  />
                </div>
                <div class="text-reviews">
                  <article class="paragraph text-reviews__paragraph">
                    <h3 class="title not-displayed">Persone</h3>
                    I wanted to work in the IT field for a long time, even after
                    graduating from university, but then there was neither
                    financial opportunity nor time, I didn’t even have a laptop.
                    Literally before the new year, I pulled myself together and
                    said, "I'm leaving for IT." I began to actively look for
                    courses where I could go to study IT. And then I came across
                    an advertisement with a marathon to create a resume in 7
                    days from GoIT. It was a turning point and I do not regret a
                    bit that I went to this particular school of IT arts. Yes,
                    it was not in vain that I called them the school of IT arts,
                    because what we do here and how the teachers teach the
                    course cannot be called anything other than IT art.
                  </article>
                </div>
                <div class="abuot-us-box">
                  <p class="paragraph abuot-us-box__paragraph">
                    Rodion Shpak, Vyshneve
                  </p>
                  <p class="paragraph abuot-us-box__paragraph">Developer</p>
                  <ul class="list list-soc">
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Instagrem"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-insta"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Twiter"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-twit"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Facebook"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-face"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Linkedin"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-linkedin"
                          ></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Korobchenko Stas -->
            <div class="slider__item">
              <div class="slider__item_inner">
                <div class="photo-box">
                  <img
                    class="photo-box__img"
                    src="./images/customer-reviews/photo_8.jpg"
                    alt="Photo of a team member"
                  />
                </div>
                <div class="text-reviews">
                  <article class="paragraph text-reviews__paragraph">
                    <h3 class="title not-displayed">Persone</h3>
                    I have been thinking for a long time about start my new
                    career in IT. However, I could not decide how and where to
                    start. But in one moment company GO IT came into my life.
                    After pumping me with important information, how the IT
                    industry is developing and inspiring me, I decided to study
                    at this company. During the course, I am increasingly
                    convinced of the correctness of my decision. I am fascinated
                    by GO IT approach to the learning process and the
                    selflessness of teachers and mentors. I wish GO IT
                    development and prosperity, employees to remain “so cool”,
                    and students forward to new knowledge...
                  </article>
                </div>
                <div class="abuot-us-box">
                  <p class="paragraph abuot-us-box__paragraph">
                    Korobchenko Stas, Sumy
                  </p>
                  <p class="paragraph abuot-us-box__paragraph">Developer</p>
                  <ul class="list list-soc">
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Instagrem"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-insta"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Twiter"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-twit"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Facebook"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-face"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Linkedin"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-linkedin"
                          ></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Nikita Rohovoi -->
            <div class="slider__item">
              <div class="slider__item_inner">
                <div class="photo-box">
                  <img
                    class="photo-box__img"
                    src="./images/customer-reviews/photo_2.jpg"
                    alt="Photo of a team member"
                  />
                </div>
                <div class="text-reviews">
                  <article class="paragraph text-reviews__paragraph">
                    <h3 class="title not-displayed">Persone</h3>
                    My path in IT is still at the very beginning, but the path
                    of study is very interesting and exciting. And all thanks to
                    the great GoIT team! I started to study, probably the most
                    interesting profession for me, namely the developer.
                    Creating your own small projects, even if not on your own,
                    but with the help of mentors, is very interesting and
                    magical. Now I know for sure, it will be much more
                    interesting next ...
                  </article>
                </div>
                <div class="abuot-us-box">
                  <p class="paragraph abuot-us-box__paragraph">
                    Nikita Rohovoi, Borispol
                  </p>
                  <p class="paragraph abuot-us-box__paragraph">Developer</p>
                  <ul class="list list-soc">
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Instagrem"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-insta"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Twiter"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-twit"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Facebook"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-face"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Linkedin"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-linkedin"
                          ></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Nataliya Fedorova -->
            <div class="slider__item">
              <div class="slider__item_inner">
                <div class="photo-box">
                  <img
                    class="photo-box__img"
                    src="./images/customer-reviews/photo_4.jpg"
                    alt="Photo of a team member"
                  />
                </div>
                <div class="text-reviews">
                  <article class="paragraph text-reviews__paragraph">
                    <h3 class="title not-displayed">Persone</h3>
                    I came to IT from trade, on the principle "why not try?".
                    And I fell in love... For me, it is still magic, another
                    world. I want to understand: How does it work? What's "under
                    the hood"? How to do as, shown in the layout. This site is
                    my first collective project. The experience is inspiring. I
                    only go forward!
                  </article>
                </div>
                <div class="abuot-us-box">
                  <p class="paragraph abuot-us-box__paragraph">
                    Nataliya Fedorova, Kyiv
                  </p>
                  <p class="paragraph abuot-us-box__paragraph">Developer</p>
                  <ul class="list list-soc">
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Instagrem"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-insta"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Twiter"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-twit"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Facebook"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-face"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Linkedin"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-linkedin"
                          ></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Svitlana Shaptala -->
            <div class="slider__item">
              <div class="slider__item_inner">
                <div class="photo-box">
                  <img
                    class="photo-box__img"
                    src="./images/customer-reviews/photo_6.jpg"
                    alt="Photo of a team member"
                  />
                </div>
                <div class="text-reviews">
                  <article class="paragraph text-reviews__paragraph">
                    <h3 class="title not-displayed">Persone</h3>
                    So I rarely write reviews, but I think it's worth leaving in
                    this case. Let's start with the fact that at some point I
                    got bored, I felt that I was standing still and not moving
                    anywhere. I searched for a long time and thought about what
                    I could do and after some time I came across a course from
                    GoIT. Did I understand something in programming, absolutely
                    not. But thanks to a clear structure, presentation of
                    educational material, the work of mentors and a
                    well-thought-out system, I realized that I could succeed.
                    Now, in addition to the course itself, I am learning to work
                    in teamwork, thanks to team projects. Difficult - yes it
                    happens, but insanely interesting.
                  </article>
                </div>
                <div class="abuot-us-box">
                  <p class="paragraph abuot-us-box__paragraph">
                    Svitlana Shaptala, Kyiv
                  </p>
                  <p class="paragraph abuot-us-box__paragraph">Developer</p>
                  <ul class="list list-soc">
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Instagrem"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-insta"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Twiter"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-twit"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Facebook"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-face"
                          ></use>
                        </svg>
                      </a>
                    </li>
                    <li class="list-soc__item">
                      <a
                        class="list-soc__link"
                        aria-label="Ссылка на Linkedin"
                        href="socialnw-link"
                      >
                        <svg class="list-soc__icon">
                          <use
                            href="./images/customer-reviews/icon.svg#icon-linkedin"
                          ></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a
          class="slider__control slider__control_prev"
          href="#"
          role="button"
          data-slide="prev"
        ></a>
        <a
          class="slider__control slider__control_next"
          href="#"
          role="button"
          data-slide="next"
        ></a>
      </div>
    </div>
  </div>
</section>
