<footer class="footer">

    <div class="container-footer container">
        <div class="footer-div__one">
            <p class="footer-name"> homemade ice cream made </p>
            <p class="footer-about"> with passion </p>
        </div>
        <!--Icons-->
        <div class="footer-div__two">
            <ul class="footer-list">
                <li class="list-icon"><a class="icon" href="https://github.com/SergeyBelozub/IceCream-group-2">
                        <svg width="18" height="18">
                            <use href="images/footer/footer-icons.svg#icon-Git"></use>
                        </svg></a>
                </li>
                <li class="list-icon"><a class="icon" href="">
                        <svg width="18" height="18">
                            <use href="images/footer/footer-icons.svg#icon-telegram"></use>
                        </svg></a>
                </li>
                <li class="list-icon"><a class="icon" href="">
                        <svg width="18" height="18">
                            <use href="images/footer/footer-icons.svg#icon-facebook"></use>
                        </svg></a>
                </li>
            </ul>
            <p class="footer-contact">Feel free to 
                contact  <a class="footer-contact__tell" href="tel:+610383766284">+61 (0) 383 766 284</a></p>
        </div>
  </div>
    <div class="footer-div__four">
      <p class="footer-content">&copy;2019 - IceCream. All Rights Reserved.</p>
    </div>
</footer>
