<section class="gallery">

    <h2 class="gallery_title visually-hidden">Ice cream </h2>
    <div class="gallery_img-cont">
        <picture>
            <source srcset="
                    ./images/gallery/ice-cream-gallery-mobile.jpg 1x,
                    ./images/gallery/ice-cream-gallery-mobile2x.jpg 2x
                    " media="(min-width: 320px)">
            <img class="gallery_img" src="./images/gallery/ice-cream-gallery-mobile.jpg" alt="ice cream gallery">
        </picture>
    </div>

</section>