<section class="gallery" id="gallery">
  <div class="container-gallery">
    <h2 class="gallery_title visually-hidden">Ice cream</h2>
    <div class="gallery_img-cont">
      <picture>
        <source 
          srcset="
            ./images/gallery/ice-cream-gallery-desktop.jpg   1x,
            ./images/gallery/ice-cream-gallery-desktop2x.jpg 2x
          " 
          media="(min-width: 1280px)" 
        />
        <source 
          srcset="
            ./images/gallery/ice-cream-gallery-tablet.jpg   1x,
            ./images/gallery/ice-cream-gallery-tablet2x.jpg 2x
          " 
          media="(min-width: 768px)" 
        />
        <source
          srcset="
            ./images/gallery/ice-cream-gallery-mobile.jpg   1x,
            ./images/gallery/ice-cream-gallery-mobile2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="gallery_img"
          src="./images/gallery/ice-cream-gallery-desktop.jpg"
          alt="ice cream gallery"
        />
      </picture>
    </div>
  </div>
</section>
