<header class="header">
  <div class="container header__container">
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <img
          class="logo__img"
          width="199"
          src="./images/header/icecream.png"
          alt="Company Logo"
        />
      </a>
      <ul class="header-nav__menu">
        <li class="header-nav__item">
          <a href="./index.html" class="header-nav__link active">Home</a>
        </li>
        <li class="header-nav__item">
          <a href="#products" class="header-nav__link">About us</a>
        </li>
        <li class="header-nav__item">
          <a href="#about" class="header-nav__link">How it&#39;s made&#63;</a>
        </li>
        <li class="header-nav__item">
          <a href="#gallery" class="header-nav__link">Our products</a>
        </li>
        <li class="header-nav__item">
          <a href="#contacts" class="header-nav__link">Contact</a>
        </li>
      </ul>
      <button type="button" class="menu-open-btn">
        <svg class="icon-burger" width="20" height="12">
          <use href="./images/header/symbol-defs.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
    <button type="button" class="header-btn" data-modal-open>
      <span class="header-btn__text">Buy now</span>
      <span class="header-btn__icon">
        <svg class="icon-arrow" width="6" height="12">
          <use href="./images/header/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </span>
    </button>

    <div class="mob-menu is-hidden">
      <!-- <div class="mob-menu__wrap"> -->
      <button type="button" class="menu-close-btn menu-close-btn">
        <svg class="icon-close" width="14" height="14">
          <use href="./images/header/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <button
        type="button"
        class="header-btn mob-menu__header-btn menu-close"
        data-modal-mob-open
      >
        <span class="header-btn__text">Buy now</span>
        <span class="header-btn__icon">
          <svg class="icon-arrow" width="6" height="12">
            <use href="./images/header/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </span>
      </button>
      <ul class="mob-menu__list">
        <li class="mob-menu__item">
          <a href="./index.html" class="mob-menu__link">Home</a>
        </li>
        <li class="mob-menu__item">
          <a href="#products" class="mob-menu__link">About us</a>
        </li>
        <li class="mob-menu__item">
          <a href="#about" class="mob-menu__link">How it&#39;s made&#63;</a>
        </li>
        <li class="mob-menu__item">
          <a href="#gallery" class="mob-menu__link">Our products</a>
        </li>
        <li class="mob-menu__item">
          <a href="#contacts" class="mob-menu__link">Contact</a>
        </li>
      </ul>
      <!-- </div> -->
    </div>
  </div>
</header>
