<!-- ========  section Products - start ======= -->
<!-- section Products - start -->
<sectiom class="prodacts">
    <div class="container-prodacts">
        <label class="sign">
            <span class="sign--hidden">100% natural</span>
        </label>
        <h2 class="prodacts-title">products</h2>
        <!-- ===== CARD LIST - start ======= -->
        <!-- card 1 - start -->
        <ul class="prodacts-card__list">
            <li class="prodacts-card__item">
                
                    <h3 class="prodacts-card__title">ice cream</h3>
                    <p class="prodacts-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
               
                    <button class="prodacts__button" type="button">
                    <svg class="button-svg" width="15" height="15">
                        <use class="icon-arrow" href="../images/prodacts/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
               
            </li>
            <!-- card 1 - end -->
            <!-- card 2 - start -->
            <li class="prodacts-card__item">

                <h3 class="prodacts-card__title">ice cream</h3>
                <p class="prodacts-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="prodacts__button" type="button">
                    <svg class="button-svg" width="15" height="15">
                        <use class="icon-arrow" href="../images/prodacts/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <!-- card 2 - end -->
            <!-- card 3 - start -->
            <li class="prodacts-card__item">

                <h3 class="prodacts-card__title">ice cream</h3>
                <p class="prodacts-card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button class="prodacts__button" type="button">
                    <svg class="button-svg" width="15" height="15">
                        <use class="icon-arrow" href="../images/prodacts/icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>

            <!-- card 3 - end -->
        </ul>
        <!-- ===== CARD LIST - End ======= -->
    </div>
</sectiom>
<!-- ========  section Products - End ======= -->