<!-- ========  section Products - start ======= -->
<!-- section Products - start -->
<section class="products" id="products">
  <div class="container">
    <div class="products-label">
      <label class="label">
        <span class="label__sign">100% natural</span>
      </label>
      <h2 class="products-title">products</h2>
    </div>
    <!-- ===== CARD LIST - start ======= -->
    <!-- card 1 - start -->
    <ul class="products__card-list list">

      <li class="products__card item">
        <div class="products__card-full-text">
        <div class="products__card-description">
          
          <h3 class="products-card__title">ice cream</h3>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products-card__text--min">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
          </p>
          
        </div>
        <button class="products__button products__button-icecream" type="button">
          <span class="full-text__wrap">
            <span class="full-text">It's safe to say that everyone loves ice cream. There is just an incredible number of types and flavors of this dessert.
            Our product range is presented in various versions, as well as with appetizing additives: chocolate, nuts and syrup and
            other fillings.
            We are sure that even the most demanding connoisseurs will not remain indifferent and will appreciate the diversity
            presented.</span>
          </span>
          <svg class="button-svg button-svg-icecream" width="15" height="15">
            <use
              class="icon-arrow "
              href="./images/products/icons.svg#icon-arrow"
            ></use>
          </svg>
        </button>
        </div>
      </li>
      <!-- card 1 - end -->
      <!-- card 2 - start -->
      <li class="products__card item">
        <div class="products__card-full-text">
        <div class="products__card-description">

          <h3 class="products-card__title">ice coffee</h3>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products-card__text--min">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do

             
     
        

            eiusmod tempor incididunt ut labore et.
          </p>
        </div>
        <button class="products__button products__button-icecoffee" type="button">
          <span class="full-text__wrap icecoffee">
            <span class="full-text ">Ice coffee, coffee with ice, is familiar to most coffee lovers. It is prepared in many countries according to various
            recipes, and this gives a huge scope for creativity. Often, “ice coffee” means all types of cold coffee in which ice is
            added, for example, ice cappuccino, ice latte, ice mocha, but there is also a completely classic recipe that can be
            changed a little, enjoying different flavors of your favorite drink.</span>
          </span>
          <svg class="button-svg button-svg-icecoffee" width="15" height="15">
            <use
              class="icon-arrow"
              href="./images/products/icons.svg#icon-arrow"
            ></use>
          </svg>
        </button>
        </div>
      </li>
      <!-- card 2 - end -->
      <!-- card 3 - start -->
      <li class="products__card item">
        <div class="products__card-full-text">
        <div class="products__card-description">

          <h3 class="products-card__title">milkshakes</h3>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <p class="products-card__text--min">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et.
          </p>

        </div>

        <button class="products__button products__button-milkshakes" type="button">
          <span class="full-text__wrap milkshakes">
            <span class="full-text ">Love sweet, rich milk flavors? Then the milkshake will be perfect for you! Made from real fresh milk and creamy ice
            cream, this light drink will not leave you indifferent. All ingredients are well whipped until milk foam is obtained in
            the most delicious cocktail. When adding coffee, berries or syrup, you get an excellent creamy cocktail with a bright
            taste and aroma.</span>
          </span>
          <svg class="button-svg button-svg-milkshakes" width="15" height="15">
            <use
              class="icon-arrow"
              href="./images/products/icons.svg#icon-arrow"
            ></use>
          </svg>
        </button>
        </div>
      </li>

      <!-- card 3 - end -->
    </ul>
    <!-- ===== CARD LIST - End ======= -->
  </div>
</section>
<!-- ========  section Products - End ======= -->
