<section class="section-hero">
  <div class="container container-hero">
    <div class="section-hero__ellipse"></div>
    <picture class="section-hero__ice-cream">
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/section-hero/ice-cream_320.png    171w,
          ./images/section-hero/ice-cream_320@2x.png 342w
        "
        sizes="(max-width: 767px) 171px, 35.6vw"
      />
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/section-hero/ice-cream.png    236w,
          ./images/section-hero/ice-cream@2x.png 472w
        "
        sizes="(min-width: 1280px) 236px, 18.44vw"
      />
      <source
        media="(max-width: 1279px)"
        srcset="
          ./images/section-hero/ice-cream_768.png    143w,
          ./images/section-hero/ice-cream_768@2x.png 286w
        "
        sizes="(max-width: 1279px) 143px, 18.62vw"
      />
      <img src="./images/section-hero/ice-cream.png" alt="pitcher of milk" />
    </picture>
    <picture class="section-hero__girl-with-ice-cream">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/section-hero/girl-with-ice-cream.png    304w,
          ./images/section-hero/girl-with-ice-cream@2x.png 608w
        "
        sizes="(min-width: 1280px) 304px, 23.75vw"
      />
      <source
        media="(max-width: 1279px)"
        srcset="
          ./images/section-hero/girl-with-ice-cream_768.png    190w,
          ./images/section-hero/girl-with-ice-cream_768@2x.png 380w
        "
        sizes="(max-width: 1279px) 190px, 24.74vw"
      />
      <img
        src="./images/section-hero/girl-with-ice-cream.png"
        alt="pitcher of milk"
      />
    </picture>
    <ul class="section-hero__product-list list">
      <li class="section-hero__product-item">
        <span class="section-hero__amount">16 </span>cafes
      </li>
      <li class="section-hero__product-item">
        <span class="section-hero__amount">23 </span>food trucks
      </li>
    </ul>
    <div class="section-hero__content">
      <h1 class="section-hero__name-company">
        Ice cream made with <span class="section-hero__head-name">passion</span>
      </h1>
      <ul class="section-hero__buttons list">
        <li class="section-hero__button">
          <button type="button" class="section-hero__button-choose">
            Products
          </button>
        </li>
        <li class="section-hero__button">
          <button type="button" class="section-hero__button-about">
            How it's made?
          </button>
        </li>
      </ul>
      <div class="section-hero__description">
        <picture class="section-hero__pitcher-of-milk">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/section-hero/pitcher-of-milk.png    213w,
              ./images/section-hero/pitcher-of-milk@2x.png 426w
            "
            sizes="(min-width: 1280px) 213px, 16.64vw"
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/section-hero/pitcher-of-milk_768.png    152w,
              ./images/section-hero/pitcher-of-milk_768@2x.png 304w
            "
            sizes="(max-width: 1279px) 152px, 19.79vw"
          />
          <img
            src="./images/section-hero/pitcher-of-milk.png"
            alt="pitcher of milk"
          />
        </picture>
        <div class="section-hero__dictum">
          <p class="section-hero__text">
            Living Life without a Purpose is like having
            <span class="section-hero__continuation"
              >an Ice cream cone in your hand, letting it melt and drip without
              eating it. It was yours to Enjoy, but you lost it -RVM
              Author</span
            >
          </p>
          <button class="section-hero__button-direction">
            <picture class="section-hero__arrow-right">
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/section-hero/arrow-right.png    26w,
                  ./images/section-hero/arrow-right@2x.png 52w
                "
                sizes="(min-width: 1280px) 26px, 2vw"
              />
              <!-- <source
                media="(max-width: 1279px)"
                srcset="
                  ./images/section-hero/arrow-right_768.png    18w,
                  ./images/section-hero/arrow-right_768@2x.png 36w
                "
                sizes="(max-width: 1279px) 18px, 2vw"
              /> -->
              <img
                src="./images/section-hero/arrow-right.png"
                alt="right arrow"
              />
            </picture>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
