<section class="section-hero">
  <div class="section-hero__ellipse"></div>
  <picture class="section-hero__ice-cream">
    <source
      media="(max-width: 767px)"
      srcset="
        ./images/section-hero/ice-cream_320.png    171w,
        ./images/section-hero/ice-cream_320@2x.png 342w
      "
      sizes="(max-width: 767px) 171px, 35.6vw"
    />
    <source
      media="(min-width: 1280px)"
      srcset="
        ./images/section-hero/ice-cream.png    236w,
        ./images/section-hero/ice-cream@2x.png 472w
      "
      sizes="(min-width: 1280px) 236px, 18.44vw"
    />
    <source
      media="(max-width: 1279px)"
      srcset="
        ./images/section-hero/ice-cream_768.png    143w,
        ./images/section-hero/ice-cream_768@2x.png 286w
      "
      sizes="(max-width: 1279px) 143px, 18.62vw"
    />
    <img src="./images/section-hero/ice-cream.png" alt="pitcher of milk" />
  </picture>

  <div class="container container-hero">
    <picture class="section-hero__girl-with-ice-cream">
      <source
        media="(min-width: 1280px)"
        srcset="
          ./images/section-hero/girl-with-ice-cream.png    304w,
          ./images/section-hero/girl-with-ice-cream@2x.png 608w
        "
        sizes="(min-width: 1280px) 304px, 23.75vw"
      />
      <source
        media="(max-width: 1279px)"
        srcset="
          ./images/section-hero/girl-with-ice-cream_768.png    190w,
          ./images/section-hero/girl-with-ice-cream_768@2x.png 380w
        "
        sizes="(max-width: 1279px) 190px, 24.74vw"
      />
      <img
        src="./images/section-hero/girl-with-ice-cream.png"
        alt="pitcher of milk"
      />
    </picture>
    <ul class="section-hero__product-list list">
      <li class="section-hero__product-item">
        <span class="section-hero__amount">16 </span>cafes
      </li>
      <li class="section-hero__product-item">
        <span class="section-hero__amount">23 </span>food trucks
      </li>
    </ul>
    <div class="section-hero__content">
      <h1 class="section-hero__name-company">
        Ice cream made with <span class="section-hero__head-name">passion</span>
      </h1>
      <ul class="section-hero__btns list">
        <li class="section-hero__btn">
          <a href="#products" class="section-hero__btn-choose">Products</a>
        </li>
        <li class="section-hero__btn">
          <a href="#about" class="section-hero__btn-about">How it's made?</a>
        </li>
      </ul>
      <div class="section-hero__description">
        <picture class="section-hero__pitcher-of-milk">
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/section-hero/pitcher-of-milk.png    213w,
              ./images/section-hero/pitcher-of-milk@2x.png 426w
            "
            sizes="(min-width: 1280px) 213px, 16.64vw"
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./images/section-hero/pitcher-of-milk_768.png    152w,
              ./images/section-hero/pitcher-of-milk_768@2x.png 304w
            "
            sizes="(max-width: 1279px) 152px, 19.79vw"
          />
          <img
            src="./images/section-hero/pitcher-of-milk.png"
            alt="pitcher of milk"
          />
        </picture>
        <div class="section-hero__dictum">
          <p class="section-hero__text">
            Dream ice cream. What does it taste like? What flavor does it have?
            What does it look like? What do you imagine when you think of him?
            <button type="button" class="section-hero__btn-direction">
              <span class="section-hero__all-text"
                >Dream ice cream. What does it taste like? What flavor does it
                have? What does it look like? What do you imagine when you think
                of him? Here you will get what you want. With a variety of
                unique flavors, textures andtoppings, you create a dessert that
                will leave you with an unforgettable experience.</span
              >
              <picture class="section-hero__arrow-right">
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/section-hero/arrow-right.png    26w,
                    ./images/section-hero/arrow-right@2x.png 52w
                  "
                  sizes="(min-width: 1280px) 26px, 2vw"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./images/section-hero/arrow-right_768.png    18w,
                    ./images/section-hero/arrow-right_768@2x.png 36w
                  "
                  sizes="(min-width: 768px) 18px, 2vw"
                />
                <img
                  src="./images/section-hero/arrow-right.png"
                  alt="right-arrow"
                  class="section-hero__rotate"
                />
              </picture>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
