.btn,
.button {
  max-width: 198px;
  max-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;

  font-family: inherit;
  font-style: inherit;

  border: 1px solid transparent;
  border-radius: 22px;
}
