:root {
  --main-color-white: #ffffff;
  --main-color-black: #000000;
  --text-color-pink: #d41443;
  --secondary-text-color-pink: #ffa5ba;
  --accent-color: #c7133e;

  --secondary-background: #e5e5e5;
  --background-color-pink: #ffb8ca;

  --main-gap: 32px;
}
